@mixin text-shorten($numLines: 1) {
  @include text-truncate;

  @supports (-webkit-line-clamp: $numLines) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
  }
}
